

.textoNavbar{
    color: 	#FFFAFA !important;
}

.textoTitulo{
    color: 	#A52A2A !important;
    font-size: 45px !important;
}
#cadAbout{
    background-color: #A52A2A !important;
    border-radius: 15px !important;
}

#cadHome{
    background: linear-gradient(#A52A2A, #FFFAFA);
}

.textoSubTitulo{
    color: 	#A52A2A !important;
    font-size: 35px !important;
}

.colorBotao{
background-color: #A52A2A !important;
color: floralwhite !important;

}

.colorBotao::houver{
    background-color: floralwhite !important;
    color: #A52A2A !important;
    
    }

    .botaoProjetos{
        background-color: #FFFAFA !important;
        color: #A52A2A !important;
        border-radius: 15px !important;
    }

    .bordaProjects{
        border-color: #A52A2A !important;
    }